.barratareas{
    width: 100%;
    height: 5rem;
    background-color: var(--lila);
    position: absolute;
    display: block;
}

.barra-arriba{
    width: 100%;
    height: 100%;
}

.lineabarra{
    width: 100%;
    height: 0.4rem;
    position: absolute;
    background-color: var(--morado);
}

.divisor{
    width: 0.3rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: var(--morado);
    position: absolute;
    right: 9rem;
    bottom: 0.5rem;
}

.horayfecha{
    font-size:small;
    width: 7rem;
    text-align: center;
    position: absolute;
    right: 1.5rem;
    bottom: 0.8rem;
}


.bateria{
    width: 2rem;
    position: absolute;
    right: 10rem;
    bottom: 1.2rem;
    display: flex;
}

.bateria img{
    width: 2rem;
    height: 2rem;
}

.wifi{
    width: 2rem;
    display: flex;
    position: absolute;
    right: 13.5rem;
    bottom: 1.2rem;
}

.wifi img{
    width: 2rem;
    height: 2rem;
}

.barrabusqueda{
    width: 30rem;
    height: 2.5rem;
    background-color:var(--rosa_claro);
    border-radius: 4rem;
    border: solid 0.3rem var(--morado);
    position: absolute;
    left: 13rem;
    bottom: 1.1rem;
    display: flex;
    cursor: text;
}

.lupa{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
    margin-top: 0.2rem;
}

.lupa img{
    width: 1.5rem;
    height: 1.5rem;
}

.archivos{
    width: 3.5rem;
    position: absolute;
    left: 7.5rem;
    bottom: 0.9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.archivos img{
    width: 3.5rem;
    height: 3rem;
}

.archivos:hover{
    opacity: 50%;
}

.iconomenu{
    width: 3.5rem;
    position: absolute;
    left: 1.5rem;
    bottom: 0.9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.iconomenu img{
    width: 3.5rem;
    height: 3rem;
}

.iconomenu:hover{
    opacity: 50%;
}