body {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
}

.escritorio {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.escritorio img{
    width: 100%;
    height: 100vh;
}

.barras{
    width: 100%;
    height: 100%;
    position: absolute;
}

.barrasuperior{
    width: 100%;
    height: 1.5rem;
    background-color: var(--lila);
    display: flex;
    align-items: flex-end;
}

.lineasuperior{
    width: 100%;
    height: 0.4rem;
    background-color: var(--morado);
    display: flex;
    position: absolute;
}
